Creare un notebook Python che:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import pymongo
import numpy as np

1. Si colleghi al proprio database.

In [ ]:
# dati diversi

2. Crei un dataframe Pandas contenente le informazioni presenti nella collection.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/wtitze/4E/main/ristoranti.csv')
df

3. Elimini tutte le colonne ad esclusione di 'borough', 'cuisine' e 'name'.

In [ ]:
# df.filter()
df = df.drop(df.columns.difference(['borough', 'cuisine', 'name']), axis = 1)
df

4. Conti il numero di ristoranti che hanno 'Missing' come quartiere.

In [ ]:
df[df['borough'] == 'Missing'].count()['borough']

5. Sostituisca alla parola 'Missing' il valore null.

In [ ]:
df.replace('Missing', np.nan)

6. Elimini dal dataframe tutti i ristoranti di cui non si conosce il quartiere.

In [ ]:
# df = df.dropna(subset=['borough'])
df.dropna(subset=['borough'], inplace = True)

7. Calcoli il numero di ristoranti per ogni cucina. Ordinare in ordine decrescente a partire dal tipo di cucina che ha più ristoranti.

In [ ]:
df['cuisine'].value_counts()

8. Visualizzi il tipo di cucina con più ristoranti.

In [ ]:
df['cuisine'].value_counts().idxmax()

9. Visualizzi un grafico a barre con i primi 10 tipi di cucina.

In [ ]:
df1 = df['cuisine'].value_counts()[:10]
df1
fig, ax = plt.subplots()
fig.autofmt_xdate(rotation=90)
ax.bar(df1.index, df1)

10. Calcoli il numero di ristoranti per ogni quartiere.

In [ ]:
df['borough'].value_counts()

11. Visualizzi i dati precedenti in un grafico a torta.

In [ ]:
a = df['borough'].value_counts()
fig, ax = plt.subplots()
ax.pie(a, autopct = '%1.1f%%', labels = a.index)
plt.show()

12. Visualizzi i due grafici affiancati. Dare titoli appropriati ad entrambi i grafici.

In [ ]:
fig, ax = plt.subplots(1, 2)
ax[0].set_title('Grafico a barre') # ax[0] è il primo grafico
ax[1].set_title('Grafico a torta') # ax[1] è il secondo grafico
ax[0].bar(df1.index, df1)
ax[1].pie(a, autopct = '%1.1f%%', labels = a.index)
fig.autofmt_xdate(rotation=90)
plt.show()

# plt.savefig('risultato.pdf') salvare un file in Colab

13. Crei un nuovo dataframe sostituendo la parola 'non American' a tutti i tipi di cucina che non sono americani.

In [ ]:
df['cuisine'][df['cuisine']!='American']='non American'
df

In [ ]:
# df['cuisine'].loc[df['cuisine'] != 'American']= 'non American'
# df

14. Visualizzi, per ogni quartiere, il numero di ristorinati di cucina americana e non americana.

In [ ]:
df1 = df.groupby(['borough', 'cuisine']).count()
df1

15. Crei un nuovo dataframe che abbia una colonna che contiene i ristoranti di cucina americana e una colonna che contiene il numero di ristoranti che propongono cucine non americane.

In [ ]:
# df2 = df1.unstack().reset_index(axis = 1)
# df2

16. Resetti l'indice in modo da avere le tre colonne necessarie per costruire un grafico a barre.

17. Visualizzi un istogramma in cui per ogni quartiere si visualizzi una barra con il numero dei ristoranti americani ed una per quelli non americani.