**1. Caricare i dati in un dataframe e studiare le informazioni inserite per capire di che cosa si tratta.**

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv')
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

**Scrivere poi le istruzioni per effettuare le seguenti operazioni:**

# **Operazioni sulle colonne**

**2. Visualizzare solo la prima colonna.**

In [ ]:
# df[['Indirizzo']]
df.iloc[:,[0]]

In [ ]:
df[df.columns[0]]

**3. Visualizzare solo l'ultima colonna.**

In [ ]:
df[['Location']]

In [ ]:
#df.iloc[:,[-1]]

In [ ]:
#df[[df.columns[-1]]]

**4. Visualizzare le colonne dalla terza alla quinta.**

In [ ]:
df.iloc[:, 3:6]

**5. Visualizzare la terza e la sesta colonna.**

In [ ]:
df.iloc[:,[3,6]]

**6. Visualizzare la colonna dell'indirizzo e la colonna del municipio.**

In [ ]:
df[['Indirizzo','MUNICIPIO']]

# **Operazioni sulle righe**

**7. Visualizzare la prima riga.**

In [ ]:
df.head(1)
# df[0:1]

**8. Visualizzare l'ultima riga.**

In [ ]:
df.tail(1)
# df[-1:]

**9. Visualizzare la riga centrale.**

In [ ]:
df.iloc[[len(df)//2]]

In [ ]:
print(len(df))
if len(df)%2 == 0:
  print(df.iloc[[len(df)//2]])
  print(df.iloc[[(len(df)//2)+1]])
else:
  print(df.iloc[[len(df)//2]])

**10. Visualizzare le righe 3, 4 e 12.**

In [ ]:
df.iloc[[3,4,12]]

**11. Visualizzare le righe dalla decima alla quindicesima.**

In [ ]:
df[10:16]

# **Operazioni su righe e colonne**

**12. Visualizzare le colonne Indirizzo e NIL, dalla decima alla quindicesima riga.**

In [ ]:
df[10:16][['Indirizzo','NIL']]

**13. Visualizzare le colonne Telefono e Fax, delle righe 3, 5 e 12.**

In [ ]:
df.iloc[[3,5,12]][["Telefono", "Fax"]]

**14. Visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10.**

In [ ]:
df[3:11].iloc[0: , 2:7]

# **Ricerca di informazioni**

**15. Visualizzare il numero di telefono dell'ufficio di Piazza Napoli.**

In [ ]:
df[df['Indirizzo'].str.contains("PIAZZA NAPOLI")][['Telefono']]

**16. Visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda.**

In [ ]:
df[df['NIL'].str.contains("NIGUARDA")][['Indirizzo','Telefono']]

**17. Visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3.**

In [ ]:
df[df['MUNICIPIO'].isin([1,2,3])][['Indirizzo','Telefono']]

**18. Visualizzare gli uffici di cui non si conosce il numero di telefono o il fax.**

In [ ]:
df[(df['Telefono'].isnull()) | (df['Fax'].isnull())][['NIL']]

In [ ]:
df[df.isna().any(axis = 1)]
# df[df.isnull().any(axis = 1)]

# **Raggruppamento**

**19. Visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL).**

In [ ]:
df.groupby('NIL').size()
# df.groupby('NIL').count()
# df1 = df.groupby(df['NIL']).count()[['Indirizzo']].rename(columns={"Indirizzo":"UFFICI"})
# df1
# .rename(columns={"Indirizzo":"UFFICI"}) per cambiare il nome della colonna

**20. Visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL). Ordinare a partire dal NIL che ha piÃ¹ uffici.**

In [ ]:
# df1.sort_values('UFFICI',  ascending=True)
df.groupby('NIL').count().sort_values("Indirizzo", ascending = False)[['Indirizzo']]

In [ ]:
df['NIL'].value_counts()
# .value_counts() conta i valori uguali, quante volte un valore compare

**21. Visualizzare i municipi che hanno piÃ¹ di 15 uffici postali.**

In [ ]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > 10] # > 15

**22. Visualizzare il municipio che ha piÃ¹ uffici postali.**

In [ ]:
df['MUNICIPIO'].value_counts().idxmax() # per un solo valore
# df.groupby('MUNICIPIO')['Indirizzo'].count().idxmax()
# df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts()==df['MUNICIPIO'].value_counts().max()] per piÃ¹ valori

**23. Visualizzare il municipio che ha meno uffici postali.**

In [ ]:
# df['MUNICIPIO'].value_counts().idxmin() per un solo valore
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts()==df['MUNICIPIO'].value_counts().min()] # per piÃ¹ valori

**24. Visualizzare il numero medio di uffici postali in ogni municipio.**

In [ ]:
# df.groupby(df['MUNICIPIO']).count().mean().round(2).mean()
df['MUNICIPIO'].value_counts().mean()

**25. Visualizzare i municipi che hanno un numero di uffici postali superiore alla media.**

In [ ]:
df1 = df.groupby('MUNICIPIO').count()
df1[df1.Indirizzo > df1.Indirizzo.mean()]

# **Eliminazione di righe o colonne**

**26. Eliminare tutti i record relativi al NIL di Niguarda.**

In [ ]:
df = df.drop(df[df['NIL'].str.contains('NIGUARDA')].index)
df

**27. Eliminare le ultime tre colonne.**

In [ ]:
# df.drop(df.tail(3).index,inplace=True)
# df
df = df.drop(columns = df.iloc[:, -3:])
# df df=[:-3]
# df

**28. Eliminare i record di cui non si conosce il numero di telefono o il fax.**

In [ ]:
df.dropna(subset=['Telefono', 'Fax'], inplace = True)
df

# **Aggiornamento di informazioni**

**29. Modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222**

In [ ]:
# df.loc['VIALE ZARA 131', 'Telefono'] = '02-69922222'
# df
df[df.Indirizzo.str.contains('VIALE ZARA')]['Telefono'] = '02-69922222'
df # oppure utilizzare un altro dataframe

**30. Sostituire il trattino presente nei numeri di telefono con il carattere /**

In [ ]:
df['Telefono'] = df['Telefono'].str.replace('-', '/')
df