In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/anagrafica-vaccini-summary-latest.csv") # df = pd.read_csv("file_name", sep = ";")

In [2]:
df

  fascia_anagrafica    totale  ...  dose_addizionale_booster  ultimo_aggiornamento
0             12-19   6780578  ...                     39025            2021-12-13
1             20-29  10702806  ...                    445301            2021-12-13
2             30-39  11619929  ...                    637152            2021-12-13
3             40-49  15289824  ...                   1166242            2021-12-13
4             50-59  18114488  ...                   2054758            2021-12-13
5             60-69  15126565  ...                   2218442            2021-12-13
6             70-79  13031075  ...                   2226297            2021-12-13
7             80-89   9305282  ...                   2353179            2021-12-13
8               90+   2058760  ...                    464944            2021-12-13

[9 rows x 9 columns]

Aggiungere una nuova colonna chiamata "percentuale_maschi", che contenga la percentuale di maschi vaccinati.

In [3]:
df['percentuale_maschi'] = df['sesso_maschile']/df['totale']*100
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentuale_maschi
0             12-19   6780578  ...            2021-12-13           51.348027
1             20-29  10702806  ...            2021-12-13           51.984984
2             30-39  11619929  ...            2021-12-13           50.915673
3             40-49  15289824  ...            2021-12-13           49.316245
4             50-59  18114488  ...            2021-12-13           48.842661
5             60-69  15126565  ...            2021-12-13           48.696575
6             70-79  13031075  ...            2021-12-13           47.403679
7             80-89   9305282  ...            2021-12-13           41.757445
8               90+   2058760  ...            2021-12-13           29.834901

[9 rows x 10 columns]

Visualizzare il numero totale di persone vaccinate con la seconda dose.

In [4]:
print("Totale vaccinati con la seconda dose:", df['seconda_dose'].sum())

Totale vaccinati con la seconda dose: 42794929

Eliminare le colonne "sesso_maschile" e "sesso_femminile".

In [5]:
df = df.drop(columns=['sesso_maschile', 'sesso_femminile'])
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentuale_maschi
0             12-19   6780578  ...            2021-12-13           51.348027
1             20-29  10702806  ...            2021-12-13           51.984984
2             30-39  11619929  ...            2021-12-13           50.915673
3             40-49  15289824  ...            2021-12-13           49.316245
4             50-59  18114488  ...            2021-12-13           48.842661
5             60-69  15126565  ...            2021-12-13           48.696575
6             70-79  13031075  ...            2021-12-13           47.403679
7             80-89   9305282  ...            2021-12-13           41.757445
8               90+   2058760  ...            2021-12-13           29.834901

[9 rows x 8 columns]

Eliminare le righe dalla 2 alla 6.

In [6]:
df = df.drop(range(2,7))
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentuale_maschi
0             12-19   6780578  ...            2021-12-13           51.348027
1             20-29  10702806  ...            2021-12-13           51.984984
7             80-89   9305282  ...            2021-12-13           41.757445
8               90+   2058760  ...            2021-12-13           29.834901

[4 rows x 8 columns]

Visualizzare il totale dei vaccinati della fascia 20-29.

In [7]:
df[df['fascia_anagrafica'] == '20-29']['totale']

1    10702806
Name: totale, dtype: int64

In [8]:
df = df.set_index('fascia_anagrafica') # l'indice viene cambiato
df

                     totale  ...  percentuale_maschi
fascia_anagrafica            ...
12-19               6780578  ...           51.348027
20-29              10702806  ...           51.984984
80-89               9305282  ...           41.757445
90+                 2058760  ...           29.834901

[4 rows x 7 columns]

In [9]:
df.loc['20-29', 'totale']

10702806

Sostituire al valore 90+ il valore 90-120.