A partire dal notebook Python presente nel post della verifica, scrivere le istruzioni per collegarsi al database sample_mflix e per estrarre, dalla collection movies, le informazioni seguenti. Inserire nel notebook la richiesta (sottoforma di markdown) e il codice necessario per risolverla. Indentare il codice in modo che sia il pi√π chiaro possibile. Se non indicato esplicitamente, estrarre tutti i campi della collection.

In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_mflix

In [ ]:
doc = db.movies.find_one()
doc

In [ ]:
df1 = pd.DataFrame(list(db.movies.find().limit(1)))
df1

,_id,plot,genres,runtime,rated,cast,poster,title,fullplot,languages,released,directors,writers,awards,lastupdated,year,imdb,countries,type,tomatoes
0,573a1391f29313caabcd68d0,A penniless young man tries to save an heiress...,"[Comedy, Short, Action]",22,TV-G,"[Harold Lloyd, Mildred Davis, 'Snub' Pollard, ...",https://m.media-amazon.com/images/M/MV5BNzE1OW...,From Hand to Mouth,As a penniless man worries about how he will m...,[English],1919-12-28,"[Alfred J. Goulding, Hal Roach]",[H.M. Walker (titles)],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-04-17 00:16:14.220000000,1919,"{'rating': 7.0, 'votes': 639, 'id': 10146}",[USA],movie,"{'viewer': {'rating': 3.3, 'numReviews': 71, '..."

1. Gli attori dei film

In [ ]:
result = db.movies.aggregate([{"$unwind": "$cast"},
                              {"$group": {"_id": "$cast"}},
                              {"$sort": {"_id": 1}},
                              {"$project": {"_id": 0, "cast": "$_id"}}])
df2 = pd.DataFrame(list(result))
df2

                             cast
0                'Chiyaan' Vikram
1      'Country' Winston Marshall
2                 'Ganja' Karuppu
3                  'Snub' Pollard
4             'Spring' Mark Adley
...                           ...
42145                  √®zg√® Namal
42146         √®zg√®r Emre Yildirim
42147                  √®zkan Ugur
42148                 √®zlem Tekin
42149                  √®znur Kula

[42150 rows x 1 columns]

2. Gli attori il cui nome comincia per A

In [ ]:
result = db.movies.aggregate([{"$unwind": "$cast"},
                              {"$group": {"_id": "$cast"}},
                              {"$match": {"_id": {"$regex": "^A"}}},
                              {"$project": {"_id": 0, "cast": "$_id"}}])
df2 = pd.DataFrame(list(result))
df2

                   cast
0           Aaron Ruell
1          Albert Franc
2              Anna Lee
3          Adam Butcher
4     Andrea Suarez Paz
...                 ...
3631    Andrzej Lapicki
3632        Albert Hall
3633  Alejandra Podesta
3634    Antonio Mendoza
3635      Andr√® Lidholm

[3636 rows x 1 columns]

3. Gli attori che hanno recitato in film americani

In [ ]:
result = db.movies.aggregate([{"$unwind": "$cast"},
                              {"$match": {"countries": "USA"}},
                              {"$group": {"_id": "$cast"}},
                              {"$project": {"_id": 0, "cast": "$_id"}}])
df2 = pd.DataFrame(list(result))
df2

                        cast
0      John Harrington Bland
1            Nathan Phillips
2                Josh Hobson
3            Martha Higareda
4              Vanessa Halby
...                      ...
19378         Anne Bergstedt
19379     Nthabiseng Kenoshi
19380         Guszt√®v P√®rtos
19381       JoAnne Akalaitis
19382         Jordan Nichols

[19383 rows x 1 columns]

4. Gli attori che hanno recitato in film italiani e francesi

In [ ]:
result = db.movies.aggregate([{"$unwind": "$cast"},
                              {"$match": {"countries": ["Italy", "France"]}},
                              {"$group": {"_id": "$cast"}},
                              {"$project": {"_id": 0, "cast": "$_id"}}])
df2 = pd.DataFrame(list(result))
df2

                  cast
0         Mathilda May
1     Giulietta Masina
2          Vera Talchi
3        Aniello Arena
4         Leo Gullotta
..                 ...
505  Giorgio Colangeli
506       Monica Vitti
507     Anna Proclemer
508      Peter Baldwin
509           Leo Genn

[510 rows x 1 columns]

5. I film in cui hanno recitato Margaret Singer e Sarah Ellen Stephens

In [ ]:
result = db.movies.aggregate([{"$match": {"cast": ["Margaret Singer", "Sarah Ellen Stephens"]}}])
df2 = pd.DataFrame(list(result))
df2

,_id,countries,genres,runtime,cast,title,lastupdated,languages,released,directors,writers,awards,year,imdb,type
0,573a13f8f29313caabde9156,[USA],"[Short, Drama, Romance]",14,"[Margaret Singer, Sarah Ellen Stephens]",Hallway,2015-05-21 21:15:39.987000000,[English],2015-03-14,[Leah Shore],[Leah Shore],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015,"{'rating': '', 'votes': '', 'id': 4522158}",movie

6. I film che non hanno la valutazione di metacritic

7. Il numero di film per ogni attore. Ordinare in ordine decrescente a
partire dall‚Äôattore che ha recitato di pi√π

8. I primi 10 attori della lista precedente

9. Gli attori che hanno recitato in un numero di film compreso tra 1¬∞ e 20

10. Il numero medio di film in cui ha recitato un attore

11. I film che hanno un a valutazione di metacritic superiore alla media

12. Il film con pi√π attori